<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="org.physical_web.physicalweb"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission
        android:required="true"
        android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission
        android:required="true"
        android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- This is required for the scan library. -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/CustomAppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".BroadcastActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/html" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="audio/*" />
            </intent-filter>
        </activity>
        <activity
          android:name=".OfflineTransportConnectionActivity"
          android:label="@string/app_name"
          android:launchMode="singleTask"
          android:theme="@android:style/Theme.Translucent.NoTitleBar"
          android:excludeFromRecents="true">
        </activity>
        <service
            android:name=".UrlDeviceDiscoveryService"
            android:enabled="true"
            android:exported="false">
        </service>

        <service
            android:name=".ScreenListenerService"
            android:enabled="true"
            android:exported="false">
        </service>

        <receiver
            android:name=".AutostartPwoDiscoveryServiceReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- This is required for the scan library. -->
        <service
            android:name="org.uribeacon.scan.compat.ScanWakefulService"
            android:exported="false">
        </service>
        <service
            android:name="org.uribeacon.config.GattService"
            android:exported="false">
        </service>
        <service
            android:name=".PhysicalWebBroadcastService"
            android:enabled="true"
            android:stopWithTask="false"
            android:exported="false">
        </service>
        <service
            android:name=".FileBroadcastService"
            android:enabled="true"
            android:stopWithTask="false"
            android:exported="false">
        </service>
        <service
          android:name=".FatBeaconBroadcastService"
          android:enabled="true"
          android:stopWithTask="false"
          android:exported="false">
        </service>
        <!-- This is required for the scan library. -->
        <receiver android:name="org.uribeacon.scan.compat.ScanWakefulBroadcastReceiver">
        </receiver>

        <activity
            android:name=".OobActivity"
            android:label="OobActivity"
            android:theme="@style/Theme.NoActionBar">
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="org.physical_web.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />

        </provider>
    </application>

</manifest>
