[submodule "ios/PhyWeb/third-party/SDWebImage"]
	path = ios/PhyWeb/third-party/SDWebImage
	url = https://github.com/rs/SDWebImage
[submodule "ios/PhyWeb/third-party/uribeacon"]
	path = ios/PhyWeb/third-party/uribeacon
	url = https://github.com/google/uribeacon
[submodule "ios/PhyWeb/third-party/MBProgressHUD"]
	path = ios/PhyWeb/third-party/MBProgressHUD
	url = https://github.com/jdg/MBProgressHUD
[submodule "ios/PhyWeb/third-party/SVPullToRefresh"]
	path = ios/PhyWeb/third-party/SVPullToRefresh
	url = https://github.com/dinhviethoa/SVPullToRefresh
	branch = contentinset-update
