language: android
jdk: oraclejdk7

android:
  components:
    # The BuildTools version used by your project
    - build-tools-21.1.2

    # The SDK version used to compile your project
    - android-21

    # Use extra android repo locations to find the appcompat-v7:21.0.3 support library
    - extra

#specify the build script to run. currently in the root directory along with .travis.yml file
script: "./travis/build.sh"
